<section class="warehouse-page">

  <div class="page-header">

    <div>
      <h1>Warehouses</h1>

      <p>
        Manage logistics warehouse locations
      </p>
    </div>

    @if (canCreateWarehouse()) {

      <button
        mat-flat-button
        type="button"
        (click)="createWarehouse()"
      >
        <mat-icon>
          add
        </mat-icon>

        New Warehouse
      </button>

    }

  </div>

  <div class="search-bar">

    <mat-form-field
      appearance="outline"
      class="search-field"
    >

      <mat-label>
        Search warehouse by name
      </mat-label>

      <mat-icon matPrefix>
        search
      </mat-icon>

      <input
        matInput
        [value]="searchTerm()"
        (input)="searchTerm.set($any($event.target).value)"
        (keyup.enter)="search()"
      >

    </mat-form-field>

    <button
      mat-flat-button
      type="button"
      (click)="search()"
    >
      Search
    </button>

    @if (searchTerm()) {

      <button
        mat-button
        type="button"
        (click)="clearSearch()"
      >
        Clear
      </button>

    }

  </div>

  <div class="table-container">

    @if (loading()) {

      <div class="loading">
        Loading warehouses...
      </div>

    } @else {

      <table
        mat-table
        [dataSource]="warehouses()"
      >

        <!-- CODE -->

        <ng-container
          matColumnDef="code"
        >

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Code
          </th>

          <td
            mat-cell
            *matCellDef="let warehouse"
          >
            {{ warehouse.code }}
          </td>

        </ng-container>

        <!-- NAME -->

        <ng-container
          matColumnDef="name"
        >

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Name
          </th>

          <td
            mat-cell
            *matCellDef="let warehouse"
          >
            {{ warehouse.name }}
          </td>

        </ng-container>

        <!-- CITY -->

        <ng-container
          matColumnDef="city"
        >

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            City
          </th>

          <td
            mat-cell
            *matCellDef="let warehouse"
          >
            {{ warehouse.city }}
          </td>

        </ng-container>

        <!-- COUNTRY -->

        <ng-container
          matColumnDef="country"
        >

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Country
          </th>

          <td
            mat-cell
            *matCellDef="let warehouse"
          >
            {{ warehouse.country }}
          </td>

        </ng-container>

        <!-- CAPACITY -->

        <ng-container
          matColumnDef="capacity"
        >

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Capacity
          </th>

          <td
            mat-cell
            *matCellDef="let warehouse"
          >
            {{ warehouse.capacity }}
          </td>

        </ng-container>

        <!-- STATUS -->

        <ng-container
          matColumnDef="status"
        >

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Status
          </th>

          <td
            mat-cell
            *matCellDef="let warehouse"
          >

            <span
              class="status"
              [class.active]="warehouse.active"
              [class.inactive]="!warehouse.active"
            >
              {{
                warehouse.active
                  ? 'Active'
                  : 'Inactive'
              }}
            </span>

          </td>

        </ng-container>


        <!-- ACTIONS -->

        <ng-container
          matColumnDef="actions"
        >

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Actions
          </th>

          <td
            mat-cell
            *matCellDef="let warehouse"
          >

            <!-- EDIT -->

            @if (canEditWarehouse()) {

              <button
                mat-icon-button
                type="button"
                title="Edit warehouse"
                (click)="editWarehouse(warehouse)"
              >
                <mat-icon>
                  edit
                </mat-icon>
              </button>

            }

            <!-- DEACTIVATE -->

            @if (canChangeWarehouseStatus()) {

              @if (warehouse.active) {

                <button
                  mat-icon-button
                  type="button"
                  title="Deactivate warehouse"
                  (click)="deactivateWarehouse(warehouse)"
                >
                  <mat-icon>
                    block
                  </mat-icon>
                </button>

              } @else {

                <button
                  mat-icon-button
                  type="button"
                  title="Activate warehouse"
                  (click)="activateWarehouse(warehouse)"
                >
                  <mat-icon>
                    check_circle
                  </mat-icon>
                </button>

              }

            }

          </td>

        </ng-container>


        <!-- ROWS -->

        <tr
          mat-header-row
          *matHeaderRowDef="
            displayedColumns
          "
        ></tr>

        <tr
          mat-row
          *matRowDef="
            let row;
            columns: displayedColumns
          "
        ></tr>
      </table>

      <!-- EMPTY STATE -->
      @if (
        warehouses().length === 0
        ) {

        <div class="empty-state">
          No warehouses found.
        </div>

      }

      <!-- PAGINATION -->

      <mat-paginator
        [length]="totalElements()"
        [pageIndex]="pageIndex()"
        [pageSize]="pageSize()"
        [pageSizeOptions]="[
          5,
          10,
          20,
          50
        ]"
        (page)="onPageChange($event)"
        showFirstLastButtons
      />

    }

  </div>

</section>
